.tabuleiro {
  display: inline-block;
  width: auto !important;
  margin: 12px auto;
  padding: 0px;
  border: 3px solid black;
  border-radius: .5%;
  user-select: none;
}
.casa {
  position: relative;
  font-size: 40px;
  line-height: 72px;
  margin: -1px;
  padding-top: 18px;
  padding-right: 2px;
  cursor: pointer;
  display: inline-block;
  min-width: 90px !important;
  min-height: 90px !important;
  text-align: center;
}
.casa.par {
  background-color: white;
}
.casa.impar {
  background-color: black;
}
img {
  z-index: 100;
  position: relative;
  width: 65px;
}
.score {
  font-size: 18px;
}
